.recommendations {
  width: 100%;
  background-color: white;
  overflow-x: scroll;
  white-space: nowrap;
}

.recommendations .slide {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.button {
  display: none;
  background-color: #008cba;
  color: white;
  padding: 10px 20px;
  font-size: 12px;
}

.img {
  height: 300px;
}

img:hover + .button {
  display: block;
  margin: auto;
}
