.myList {
  width: 100%;
  background-color: white;
  /* overflow-x: scroll; */
  overflow-x: scroll;
  white-space: nowrap;
}

.myList .slide {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.slide:hover .button {
  display: block;
  margin: auto;
}
